* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #555;
}

h1 {
    color: darkkhaki;
    font-size: 4rem;
    text-align: center;
    opacity: 0.6;
}

form {
    max-width: 100%;
    width: 60vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input {
    font-size: 1.5rem;
    padding: 0.5em 1em;
    display: block;
    width: 100%;
    border: none;
    color: #555;
}

.input::placeholder {
    color: #b5b5b5;
}

.todolist {
    background-color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todolist li {
    font-size: 1.5rem;
    padding: 0.5em 1em;
    border-top: solid #b5b5b5 1px;
    cursor: pointer;
}

.todolist li.completed {
    text-decoration: line-through;
    color: #b5b5b5;
}

small{
    color: #b5b5b5;
    margin-top: 1rem;
    text-align: center;
}